SESSION_SECRET="my-secret-key"

# Cloudflare services
CF_ACCOUNT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
CF_API_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
KV_NAMESPACE_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

STEAM_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
