APP_ORIGIN=http://localhost:3000 # aplication scheme://domain:port
SESSION_SECRET=my-secret-key

# Cloudflare services
CF_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CF_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
KV_NAMESPACE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

STEAM_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ALLOWED_DEPRECATED_STEAMID=12346789,987654321

# Email
RESEND_API_KEY=re_xxxxxxxxx
SENDER_EMAIL=streamiau@example.com
